
-var titulos = ["PlatziGames",
'Título principal',
'Subtítulo1',
'Subtítulo2',
'Subtítulo3',
]
-var user 

mixin caja 
	.caja 
		.caja__image: img(src="./images/imagen.png", alt="imagen")
		.caja__contenido
			h3  #{titulos[2]}
			p Lorem ipsum dolor sit amet.


doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1  #{titulos[0]}
			if user 
				a Hola #{user}
			else 
				a.boton Registro
		section.intro
			.intro__imagen  
				img(src="./images/imagen.png", alt="")
			.intro__contenido
				h2 #{titulos[1]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatibus vitae ratione voluptas officia doloribus!
					sppan Lorem ipsum dolor sit, amet consectetur adipisicing.
				a.button(href="#") Leer más 
			ul 
				each title in titulos 
					li=title
		main.contenido 
			+caja
			+caja 
			+caja 
			

		